.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;


}

.card {
    width: 28%;
    
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;




}

.card img {
    width: 100%;
    height: auto;
}

.intro {
    min-height: 180px;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    background: #006828;
    color: #f0f0f0;
    bottom: 438px;
    transition: .4s;
    border-radius: 0 0 8px 8px;
}



.card h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(255, 255, 14);

    font-size: 30px;
}

p {
    margin-inline: 10px;
    font-size: 20px;
    text-align: justify;
   
}
/* 
.card:hover {
    cursor: pointer;
}

.card:hover .intro {
    height: 200px;
    bottom: 438px;
    background: rgba(0, 0, 0, 0.5);
}

.card:hover p {

    display: block;
} */

.title h1 {

    text-align: center;
    color: #006828;
    font-size: 50px;
}

@media screen and (max-width: 1366px) {

    .card {

        width: 45%;
    }
}

@media screen and (max-width: 900px) {

    .card {

        width: 90%;
    }
}

@media screen and (max-width: 900px) {

    p {

        font-size: 15px;
        
    }
}

