footer {


    background-color: #3d3d3d;
    color: white;
    text-align: center;
    padding: 40px;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
        
    

}

.social {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.social a {

    text-decoration: none;
    color: white;
    margin: 5px;
}



@media screen and (max-width: 530px) { 

    .a1{

        display: none;
        
    }

    .social a, .social p{

        font-size: 10px;
    }

    


}